@model PortaleGeoWeb.ViewModels.VmFornitore

@{
    ViewBag.Title = "Dettagli";
}

<h2>Dettagli</h2>

<div>
    <h4>Fornitore</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RagioneSociale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RagioneSociale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PartitaIva)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PartitaIva)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContattoTecnico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContattoTecnico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailTecnico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailTecnico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoTecnico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoTecnico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContattoTecnico1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContattoTecnico1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailTecnico1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailTecnico1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelefonoTecnico1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelefonoTecnico1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Modifica", "Modifica", new { id = Model.Id }) |
    @Html.ActionLink("Torna alla lista", "Index")
</p>
