@model PortaleGeoWeb.ViewModels.VmUtenteRuolo

@{
    ViewBag.Title = "Dettagli";
}

<h2>Dettagli</h2>

<div>
    <h4>Ruolo Utente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IO_Utente.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IO_Utente.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IO_Utente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IO_Utente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IO_Utente.CodiceFiscale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IO_Utente.CodiceFiscale)
        </dd>

        <dt>
            Ruolo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IO_Ruolo.Name)
        </dd>

        <dt>
            Ente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IO_Ente.Nome)
        </dd>

        <dt>
            Fornitore
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IO_Fornitore.RagioneSociale)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Torna alla lista", "Index")
</p>
