@model IEnumerable<IOServiceCommon.Models.IO_UtenteRuolo>

@{
    ViewBag.Title = "Index";
}

<h2>Ruolo Utenti</h2>

<p>
    <a href="@Url.Action("Aggiungi", "UtenteRuolo")" class="btn btn-outline-primary">
        <i class="fas fa-plus"></i> Aggiungi Nuovo Ruolo/Utente
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IO_Utente.Cognome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IO_Utente.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IO_Utente.CodiceFiscale)
        </th>
        <th>
            Ruolo
        </th>
        <th>
            Ente
        </th>
        <th>
            Fornitore
        </th>
        <th>

        </th>


    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.IO_Utente.Cognome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IO_Utente.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IO_Utente.CodiceFiscale)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IO_Ruolo.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IO_Ente.Nome)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IO_Fornitore.RagioneSociale)
    </td>


    <td>
        <a class="btn btn-sm btn-outline-secondary mb-1" aria-label="Dettagli"
           href="@Url.Action("Dettagli", new { id = item.Id })">
            <i class="fas fa-search"></i>
        </a>

        <a class="btn btn-sm btn-outline-secondary mb-1" aria-label="Elimina"
           href="@Url.Action("Cancella", new { id = item.Id })">
            <i class="fas fa-trash-alt"></i>
        </a>
    </td>
</tr>
}

</table>
