@model NuovoPortaleGeo.Models.Geo_Dati

@{
    ViewBag.Title = "Delete";
}

<h2>ELIMINA</h2>
<br />
<br />
<h5 style="color:red">Sei sicuro di voler eliminare definitivamente il dato?</h5>
<div>
    <h4>GeoDati</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DescrizioneFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescrizioneFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Provincia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Provincia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comune)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comune)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Indirizzo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Indirizzo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descrizione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descrizione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Geo_Utente.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Geo_Utente.Email)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Elimina" class="btn btn-danger" /> |
            <strong>@Html.ActionLink("Back to List", "Index")</strong>  
        </div>
    }
</div>
