@{
    ViewBag.Title = "SelezionaSistema";
}


<h2>Sistema Di Georeferenzazione</h2>
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-md">
            
            <h4>@Html.Label("Seleziona Sistema:", htmlAttributes: new { @class = "control-label col-md-5" })</h4>          
            @Html.DropDownList("SistemaDiGeoreferenzazione", (SelectList)ViewBag.SistemaDiGeoreferenzazione, htmlAttributes: new { @class = "select form-control" })
        </div>
            <div class="col-md-5">
                <img src="/Images/609px-Map_of_region_of_Marche,_Italy,_with_provinces-it.svg.png" height="150" alt="" loading="lazy" id="Marche" class="rounded-circle" />
            </div>
        </div>
        
    </div>


<br />



<div>
    <input type="button" value="Conferma" class="btn btn-outline-dark" id="Conferma" />
</div>

    @section scripts
        {
        <script>
            $(document).on("click", "#Conferma", function () {
                var sistema_geo = $('#SistemaDiGeoreferenzazione').val();
                console.log($('#SistemaDiGeoreferenzazione').val());
                
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "Conferma/Index",
                    data: { 'Sistema': sistema_geo },
                    success: function (data) {
                        if (data.code === 1) {
                           
                            window.location.href = '@Url.Action("Index","OpenStreetMap")';
                        } else if (data.code === 2) {
                          
                            window.location.href = '@Url.Action("Index","SistemaHere")';
                        }
                        else {
                            
                            window.location.href = '@Url.Action("Index","Google")';
                        }
                    }
                });
            });
        </script>
    }



