@model NuovoPortaleGeo.ViewModels.VmUpload
@using System.Data;
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml"; }

<h2>Caricamento File CSV</h2>


<style>
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        table td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table tr:hover {
            background-color: #ddd;
        }

        table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ff6600;
            color: white;
        }

    nav ul {
        list-style: none;
    }

        nav ul li ul {
            display: none;
        }

    .visible {
        display: block;
    }

    #menu-icon:before {
        content: "Menu";
        display: inline-block;
        width: 50px;
    }

    #menu-icon:after {
        content: "\2261";
        display: inline-block;
        width: 50px;
    }

    #Mregione {
        transform: translate(10%)
    }
</style>

@using (Html.BeginForm(Html.BeginForm("Upload", "Home", null, FormMethod.Post, new { enctype = "multipart/form-data" })))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()


    if (Model == null)
    {


        <div id="totale">
            <div class="row">
                <div class="col-sm-3">
                    @Html.TextBox("upload", "", new { @class = "form-control", @type = "file", @id = "TextUpload", @name = "upload", @accept = ".csv", @required = "required" })
                </div>

                <div class="col-sm-1">
                    <img src="~/Images/download.png" class="rounded-circle" id="conferma" height="25" style="display:none" />
                </div>
                <div class="col-sm-2">
                    <img src="~/Images/RegMarche.svg.png" height="200" />
                </div>
                <div class="col-sm-3">
                    <img src="~/Images/cratere-sisma.jpg" height="200" id="Mregione" />
                </div>
            </div>

            <br />
            <div class="form-group">
                @Html.LabelFor(model => model.DescrizioneFile, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DescrizioneFile, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "DescrizioneFile" } })
                    @Html.ValidationMessageFor(model => model.DescrizioneFile, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />

            <div class="col-sm-5">
                <label title="Attiva Geo">
                    <strong>ATTIVA GEOREFERENZAZIONE</strong>
                    <input type="checkbox" id="CheckGeo" />
                </label>
            </div>
            <div class="row">
                @if (Model == null)
                {
                    <div class="col-md" id="seleziona" style="display:none">
                        <h4>@Html.Label("Seleziona Sistema:", htmlAttributes: new { @class = "control-label col-md-5" })</h4>
                        @Html.Label("", htmlAttributes: new { @class = "control-label col-md-5" })
                        @Html.DropDownList("SistemaGeo", ViewBag.SistemaGeo as List<SelectListItem>, "", htmlAttributes: new { @class = "form-control" })
                    </div>
                }
                <br />
                <br />
                <br />
            </div>

            <br />

            <div class="row">
                <div id="parUpload" style="display:none">
                    <div class="col-sm-1">
                        <button type="submit" value="upload" class="btn btn-dark" id="Upload" name="upload"><i class="fa fa-globe"></i>Geocodifica</button>
                    </div>
                    <br />
                    <br />
                    <div id="OpenStreetMap" style="display:none">
                        <img src="/Images/OpenStreetMap.jpeg" height="50" alt="" loading="lazy" class="rounded-circle" />
                        <h2>Sistema di Georeferenzazione OpenStreetMap</h2>
                    </div>
                    <div id="Here" style="display:none">
                        <img src="/Images/HERE_logo.svg.png" height="50" alt="" loading="lazy" id="here" class="rounded-start" />
                        <h2>Sistema di Georeferenzazione HERE</h2>
                    </div>
                    <div class="col-lg-12" id="GeoDati">
                        <p><strong>Una volta cliccato la geocodifica aspettare la fine del processo e successivamente i dati saranno georeferenziati e disponibili nella pagina <a href="~/GeoDati/Index" class="">GeoDati</a></strong></p>
                    </div>
                </div>
                <div class="col-sm-1">
                    <button type="submit" value="Anteprima" class="btn btn-success" id="View" name="upload" style="display:none"><i class="fa fa-th-large" style="color:snow"></i>Visualizza</button>
                </div>
                <br />
                <br />

            </div>


        </div>


        <style>
            #loading {
                transform: translate(30%);
                color: darkorange;
            }

            #table-wrapper {
                position: relative;
            }

            #table-scroll {
                height: 800px;
                overflow: auto;
                margin-top: 20px;
            }

            #table-wrapper table {
                width: 100%;
            }

                #table-wrapper table thead th .text {
                    position: absolute;
                    top: -20px;
                    z-index: 2;
                    height: 20px;
                    width: 35%;
                    border: 1px solid red;
                }
        </style>

        <br />
        <br />
    }

    int count = 0;
    if (Model != null)
    {
        @*
            <div class="row">
                <div>
                    <p><strong>Associa le colonne alle descrizioni per avere una corretta Geoferenzazione:</strong></p>
                </div>
                <ul>
                    <li>Provincia:</li>
                    @Html.DropDownList("Provincia", new SelectList(ViewBag.Provincia),"", htmlAttributes: new { @class = "form-control", @id = "Provincia" })
                    <li>Comune:</li>
                    @Html.DropDownList("Comune", new SelectList (ViewBag.Comune), "", htmlAttributes: new { @class = "form-control", @id = "Comune" })
                    <li>Indirizzo:</li>
                    @Html.DropDownList("Indirizzo", new SelectList(ViewBag.Indirizzo), "", htmlAttributes: new { @class = "form-control", @id = "Indirizzo" })
                    <li>N_Civico:</li>
                    @Html.DropDownList("N_Civico", new SelectList(ViewBag.N_Civico), "", htmlAttributes: new { @class = "form-control", @id = "N_Civico" })
                    <li>Cap:</li>
                    @Html.DropDownList("Cap", new SelectList(ViewBag.Cap), "", htmlAttributes: new { @class = "form-control", @id = "Cap" })
                    <li>AltroIndirizzo:</li>
                    @Html.DropDownList("AltroIndirizzo", new SelectList(ViewBag.AltroIndirizzo), "", htmlAttributes: new { @class = "form-control", @id = "AltroIndirizzo" })
                    <li>Descrizione Luogo:</li>
                    @Html.DropDownList("DescrizioneGeo", new SelectList(ViewBag.DescrizioneGeo), "", htmlAttributes: new { @class = "form-control", @id = "AltroIndirizzo" })
                </ul>
                <div>
                    <button type="submit" id="save"><i class="fa-save"></i>Save</button>
                </div>
            </div>
        *@
        <div class="col-1">
            <a href="~/Home/Upload" class=""><i class="fa fa-plus-circle"></i>Nuova Georeferenzazione</a>
        </div>
        <br />


        <div id="table-wrapper">
            <div id="table-scroll">
                <table id="DatiCsv" data-page-length='25'>
                    <thead>
                        <tr>
                            @foreach (DataColumn col in Model.Columns)
                            {


                                <th>@col.ColumnName</th>



                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (DataRow row in Model.Rows)
                        {
                            if (count < 100)
                            {


                                <tr>
                                    @foreach (DataColumn col in Model.Columns)
                                    {

                                        <td>@row[col.ColumnName]</td>


                                    }
                                </tr>
                                count++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    }


}



<!-- skipped -->


<hr />


@section scripts{
    <script>
        $(document).ready(function () {
            $('#DescrizioneFile').prop("disabled", true);
            $("#TextUpload").change(function () {
                if ($('#parUpload').is(':visible')){
                    $('#View').hide();
                }
                else {
                    $('#View').show();
                }
                    for (var i = 0; i < localStorage.length; i++) {
                        $("#Provincia").append(new Option(localStorage.key(i)));
                    }
                    $('#conferma').show();
                    $('#DescrizioneFile').prop("disabled", false);
                    var file = $("#TextUpload").val();
                    var lunghezza = file.length;
                    console.log(lunghezza);
                    var filecorretto = file.substring(12, lunghezza);
                    console.log(file);
                    $('#DescrizioneFile').val(filecorretto);
            });





        //chiamata ajax per caricare colonne nelle dropdownlist
            $("#Save").click(function () {
                    jQuery.ajax({
                                                //definisco il tipo della chiamata
                                                type: "POST",
                                                // specifico la URL della risorsa da contattare
                                                url: '@Url.Action("readcolumn", "Home")',
                                                // passo dei dati alla risorsa remota
                                                dataType: "json",
                                                //    contentType: 'application/json; charset=utf-8',
                                                // imposto un'azione per il caso di successo
                                                success: function (data) {
                                                // Salvo i dati geocodificata nel browser
                                                    const myArray = [];
                                                    var i = localStorage.length;
                                                    console.log(data)
                                                    if (myArray[i] = 'undefined') {
                                                        myArray[i] = data.ritorno;
                                                        console.log(myArray[i]);
                                                        localStorage.setItem(nome, myArray[i]);
                                                        alert("Colonne Selezionabili");
                                                    }


                                                },

                                                error: function () {
                                                    alert("errore colonne");
                                                }

                    })

                var table = $('#DatiCSV').dataTable();
                console.log(table);
                $('#divdelete').show();
                $('#delete').click(function () {
                    table.destroy();
                    $("#DescrizioneFile").value = "";
                });
            });
        });

        // bottoni upload e visualiazzazione passaggio dati SistemaGeo
        $('#Upload, #View').click(function () {
            if (this.id == 'Upload') {
                var val = $('#SistemaGeo').find(":selected").val();
                if (val == '1') {
                    $('#OpenStreetMap').show();
                }
                else if ((val == '2')) {
                    $('#Here').show();
                }
            }
            else if (this.id == 'View') {
                var val = "";

            }
            console.log(val);
                $.ajax({
                    dataType: "json",
                    type: "POST",
                    url: "ValSistemaGeo/GeoDati",
                    data: { 'SistemaGeo': val },
                    success: function (data) {
                        if (data.code === 1) {
                            return null;
                        } else {
                            alert("errore file caricato")
                        }

                    }
                });
        });

        //controllo checkbox --> visualizzazioni bottoni
                          const checkbox = document.getElementById('CheckGeo')
                            checkbox.addEventListener('change', (event) => {
                                if (event.currentTarget.checked) {
                                    $('#seleziona').show();
                                    $('#parUpload').show();
                                    $('#View').hide();
                                } else {
                                    $('#seleziona').hide();
                                    $('#parUpload').hide();
                                    $('#View').show();

                                }
                            });

    </script>
}
