@model PortaleGeoWeb.ViewModels.VmUtente

@{
    ViewBag.Title = "Dettagli";
}

<h2>Dettagli</h2>

<div>
    <h4>Utente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cognome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cognome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CodiceFiscale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodiceFiscale)
        </dd>

    </dl>
</div>

<p>
    <a href="@Url.Action("Aggiungi", "UtenteRuolo", new { UserId = Model.Id  })" class="btn btn-outline-primary">
        <i class="fas fa-plus"></i> Aggiungi Nuovo Ruolo/Utente
    </a>
</p>

<div class="tab-content">
    <div class="tab-pane container active p-0" id="home">
        <table class="table table-bordered table-striped">
            <thead class="thead-dark text-white">
                <tr>
                    <th>Ruolo</th>
                    <th>Ente</th>
                    <th>Fornitore</th>
                    <th>Cancella Ruolo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var utenteruolo in Model.Geo_UtenteRuolo)
                {
                <tr>
                    <td>@utenteruolo.Geo_Ruolo.Name</td>

                    @if (@utenteruolo.Geo_Ente == null)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@utenteruolo.Geo_Ente.Nome</td>
                    }


                    @if (@utenteruolo.Geo_Fornitore == null)
                    {
                        <td></td>
                    }
                    else
                    {
                        <td>@utenteruolo.Geo_Fornitore.RagioneSociale</td>
                    }



                    <td>
                        <a class="btn btn-sm btn-outline-secondary mb-1" aria-label="Elimina"
                           href="@Url.Action("Cancella", "UtenteRuolo", new { id = utenteruolo.Id })">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>

                }
            </tbody>
        </table>
    </div>
</div>


    <p>
        @Html.ActionLink("Modifica", "Modifica", new { id = Model.Id }) |
        @Html.ActionLink("Torna alla lista", "Index")
    </p>
