@model IEnumerable<PortaleGeoWeb.Models.Geo_Ente>

@{
    ViewBag.Title = "Ente";
}

<h2>Ente</h2>

@if (this.User.IsInRole("Administrators"))
{
    <p>
        <a href="@Url.Action("Aggiungi", "Ente")" class="btn btn-outline-primary">
            <i class="fas fa-plus"></i> Aggiungi Nuovo Ente
        </a>
    </p>
}


<div style="text-align: right">
    <a class="btn btn-sm btn-outline-secondary mb-1" aria-label="Filtri" href="javascript:filter_elements()">
        <i class="fa fa-filter" align-items="center">Filtri</i>
    </a>

    <div id='bt_Estrai' class='btn btn-success'>
        <i class="far fa-file-excel"></i> Estrai
    </div>

</div>


@using (Html.BeginForm())
{
    <div id="filter">
        <div class="input-group mb-3">
            <div class="row mb-4">

                <div class="col-md-4">
                    @Html.DisplayNameFor(model => model.AderisceDigipalm)
                    @Html.DropDownList("AderisceDigipalm", ViewBag.AderisceDigipalm as SelectList, "", new { @class = "form-control" })
                </div>

                <div class="col-md-4">
                    @Html.DisplayNameFor(model => model.OnBoardingRicevuto)
                    @Html.DropDownList("OnBoardingRicevuto", ViewBag.OnBoardingRicevuto as SelectList, "", new { @class = "form-control" })
                </div>
                <div class="col-md-4">
                    @Html.DisplayNameFor(model => model.PraticheUSR)
                    @Html.DropDownList("PraticheUSR", ViewBag.PraticheUSR as SelectList, "", new { @class = "form-control" })
                </div>

                <div class="col-md-3">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit">
                            <i class="fas fa-search" aria-label="Cerca"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>

}

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CodiceIstat)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SiglaProv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            Digipalm
        </th>
        @if (this.User.IsInRole("Administrators") || this.User.IsInRole("EnteLocale"))
        {
            <th>
                OnBoard. Ricevuto
            </th>
            <th>
                OnBoard. Inviato
            </th>
            <th>
                Pratiche USR
            </th>
        }
            <th>
                @Html.DisplayNameFor(model => model.ValidoDal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidoAl)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodiceIstat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SiglaProv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cap)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>

            @if (item.AderisceDigipalm == 1)
            {
                <td>SI</td>
            }
            else
            {
                <td>NO</td>
            }

            @if (this.User.IsInRole("Administrators") || this.User.IsInRole("EnteLocale"))
            {

                if (item.OnBoardingRicevuto == 1)
                {
                    <td>SI</td>
                }
                else
                {
                    <td>NO</td>
                }

                if (item.OnBoardingInviato == 1)
                {
                    <td>SI</td>
                }
                else
                {
                    <td>NO</td>
                }

                if (item.PraticheUSR == 1)
                {
                    <td>SI</td>
                }
                else
                {
                    <td>NO</td>
                }
            }

            <td>
                @Html.DisplayFor(modelItem => item.ValidoDal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidoAl)
            </td>
            <td>
                @if (this.User.IsInRole("Administrators"))
                {
                    <a class="btn btn-sm btn-outline-secondary mb-1" aria-label="Dettagli"
                       href="@Url.Action("Dettagli", new { id = item.Id })">
                        <i class="fas fa-search"></i>
                    </a>

                    <a class="btn btn-sm btn-outline-secondary mb-1" aria-label="Modifica"
                       href="@Url.Action("Modifica", new { id = item.Id })">
                        <i class="fas fa-cog"></i>
                    </a>

                    <a class="btn btn-sm btn-outline-secondary mb-1" aria-label="Elimina"
                       href="@Url.Action("Cancella", new { id = item.Id })">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                }

            </td>
    </tr>
    }

</table>

@section Scripts
{
    <script>

        filter_elements();

        function filter_elements() {
            var x = document.getElementById("filter");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }


          $('#bt_Estrai').on('click', function (e) {
            e.preventDefault();
            var url = '@Html.Raw(@Url.Action("Estrai", "Ente"))';
            window.location.href = url;
        });

    </script>
}