@model NuovoPortaleGeo.ViewModels.VmUpload
@using System.Data;
@{ ViewBag.Title = "Upload";
    Layout = "~/Views/Shared/_Layout.cshtml"; }
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/jquery-3.6.0.min.js"></script>

<link href="~/Content/ProgressBarWindow.css" rel="stylesheet">



<h2>Caricamento File CSV</h2>


<style>
    table {
        font-family: Arial, Helvetica, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

        table td, #customers th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        table tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        table tr:hover {
            background-color: #ddd;
        }

        table th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #ff6600;
            color: white;
        }

    nav ul {
        list-style: none;
    }

        nav ul li ul {
            display: none;
        }

    .visible {
        display: block;
    }

    #menu-icon:before {
        content: "Menu";
        display: inline-block;
        width: 50px;
    }

    #menu-icon:after {
        content: "\2261";
        display: inline-block;
        width: 50px;
    }

    #Mregione {
        transform: translate(10%)
    }


    #loading {
        transform: translate(30%);
        color: darkorange;
    }

    #table-wrapper {
        position: relative;
    }

    #table-scroll {
        height: 800px;
        overflow: auto;
        margin-top: 20px;
    }

    #table-wrapper table {
        width: 100%;
    }

        #table-wrapper table thead th .text {
            position: absolute;
            top: -20px;
            z-index: 2;
            height: 20px;
            width: 35%;
            border: 1px solid red;
        }

    .jumbotron {
        padding: 4rem 2rem;
    }

    .jumbotron {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: burlywood;
        border-radius: 0.8rem;
    }

    #visualizza {
        width: 100%;
    }

    #visualizza {
        transform: translate(1%);
        margin-bottom: 2rem;
        border-radius: 0.8rem;
    }

    #AttivaGeo {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: darkkhaki;
        border-radius: 0.8rem;
    }

    #Geo {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: antiquewhite;
        border-radius: 0.8rem;
    }

    #Risultati {
        padding: 2rem 1rem;
        margin-bottom: 2rem;
        background-color: darkgray;
        border-radius: 0.8rem;
    }

    .styled select {
        border: 0 none;
        background: transparent;
        font-size: 20px;
        font-weight: bold;
        padding: 2px 10px;
        width: 378px;
        *width: 350px;
        *background: #f6c654;
    }

    .styled {
        overflow: hidden;
        width: 350px;
        -moz-border-radius: 9px 9px 9px 9px;
        -webkit-border-radius: 9px 9px 9px 9px;
        border-radius: 9px 9px 9px 9px;
        box-shadow: 1px 1px 11px #330033;
        background: no-repeat scroll 319px 5px #f6c654;
    }
</style>



<div class="jumbotron">


    <div id="totale">
        <div class="row">
            <div class="col-md-11">
                <input type="file" class="fa fa-file" id="TextUpload" name="upload" accept="csv" required="required" data-show-preview="false" />
                @*@Html.TextBox("upload", "", new { @class = "form-control", @type = "file", @id = "TextUpload", @name = "upload", @accept = ".csv", @required = "required" })*@
            </div>

            <div class="col-md-1">
                <img src="~/Images/download.png" class="rounded-circle" id="conferma" height="25" style="display:none" />
            </div>
            <br />
            <br />
            <div class="col-md-3">
                <button type="submit" class="btn btn-danger" id="Nuovo" disabled title="Cambia File"><i class="fa fa-reply"></i>Nuovo File</button>
                <div id="info" style="display:none">
                    <p>Prima di georeferenziare un nuovo file assicurati di aver prima estratto il file della georeferenzazione precedente</p>
                </div>
        </div>


        <br />
        <div>
            <strong>@Html.Label("Descrizione File:", htmlAttributes: new { @class = "control-label col-md-2" })</strong>
            <div class="row col-12">
                <div class="col-md-12">
                    @Html.EditorFor(model => model.DescrizioneFile, new { htmlAttributes = new { @class = "form-control", @required = "required", @id = "DescrizioneFile" } })
                    @Html.ValidationMessageFor(model => model.DescrizioneFile, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
<div class="row" id="visualizza">
    <button type="submit" value="Anteprima" class="btn btn-success" id="View" name="upload" style="display:none"><i class="fa fa-th-large" style="color:snow"></i>   Anteprima</button>
</div>
<div id="Fade_area" class="overLay">
</div>
<div id="myModal" class="popup">
    @Html.Partial("~/Views/Shared/Popup.cshtml")

</div>


<table id="tableID" class="display" style="width:100%;display:none">
</table>

<br />
<br />
<div class="jumbotron" id="AttivaGeo" style="display:none">
    <div class="col-sm-5">
        <label title="Attiva Geo">
            <strong>ATTIVA GEOREFERENZAZIONE</strong>
            <input type="checkbox" id="CheckGeo" />
        </label>
    </div>
</div>
<div class="jumbotron" id="Geo" style="display:none">
    <div class="row">

        <div class="col-md-6" id="seleziona">
            <h4>@Html.Label("Seleziona Sistema:", htmlAttributes: new { @class = "control-label col-md-5" })</h4>
            @Html.Label("", htmlAttributes: new { @class = "control-label col-md-5" })
            @* @Html.DropDownList("SistemaGeo", ViewBag.SistemaGeo as List<SelectListItem>, htmlAttributes: new { @class = "dropdown", @id = "SistemaGeo" })*@
            <div class="styled-geo">
                <select class="col-md-12" id="SistemaGeo">
                    <option value="1">OpenStreetMap</option>
                    <option value="2">HERE</option>
                    <option value="3">OpenStreetMap</option>
                </select>
            </div>

        </div>

        <div class="col-md-6" id="corrispondenze">
            <div>
                <p><strong>Seleziona la colonna corrispondente alla descrizione:</strong></p>
                <br />
                <p>Almeno uno tra Provincia, Comune e Indirizzo deve avere una corrispondenza</p>
            </div>

            <form>
                <mat-form-field appearance="fill">
                    <mat-label>Provincia:</mat-label>
                    <div class="styled">
                        <select class="col-md-12" id="Provincia" required>
                            <option value="">Nessuna Corrispondenza</option>
                        </select>
                    </div>
                    <br />

                    <mat-label>Comune:</mat-label>
                    <div class="styled">
                        <select class="col-md-12" id="Comune">
                            <option value="">Nessuna Corrispondenza</option>
                        </select>
                    </div>
                    <br />
                    <mat-label>Indirizzo:</mat-label>
                    <div class="styled">
                        <select class="col-md-12" id="Indirizzo">
                            <option value="">Nessuna Corrispondenza</option>
                        </select>
                    </div>
                    <br />
                    <mat-label>N.Civico:</mat-label>
                    <div class="styled">
                        <select class="col-md-12" id="NumCivico">
                            <option value="">Nessuna Corrispondenza</option>
                        </select>
                    </div>
                    <br />
                    <mat-label>Cap:</mat-label>
                    <div class="styled">
                        <select class="col-md-12 " id="Cap">
                            <option value="">Nessuna Corrispondenza</option>
                        </select>
                    </div>
                    <br />
                    <mat-label>AltroIndirizzo:</mat-label>
                    <div class="styled">
                        <select class="col-md-12" id="AltroIndirizzo">
                            <option value="">Nessuna Corrispondenza</option>
                        </select>
                    </div>
                    <br />
                    <mat-label class="">Descrizione Luogo:</mat-label>
                    <div class="styled">
                        <select class="col-md-12" id="DescrizioneGeo">
                            <option value="">Nessuna Corrispondenza</option>
                        </select>
                    </div>
                </mat-form-field>

                <br />
                <br />
                <br />
            </form>

            <div>
                <button type="submit" class="btn btn-success" style="width:500px" id="save"><i class="fa fa-save"></i>  Salva</button>
            </div>

        </div>

        <br />
        <br />
        <br />
    </div>

    <br />
    <div id="Fade_area" class="overLay" hidden>
    </div>
    <div id="myModal" class="popup">
        @Html.Partial("~/Views/Shared/Popup.cshtml")

    </div>
    <div class="row">
        <div id="parUpload">
            <div class="col-sm-1">
                <button type="submit" value="upload" class="btn btn-dark" id="Upload" name="upload" disabled><i class="fa fa-calculator"></i>Geocodifica</button>
            </div>
            <br />

            <br />
            <br />
            <div id="OpenStreetMap" style="display:none">
                <img src="/Images/OpenStreetMap.jpeg" height="50" alt="" loading="lazy" class="rounded-circle" />
                <h2>Sistema di Georeferenzazione OpenStreetMap</h2>
            </div>

            <div id="Here" style="display:none">
                <img src="/Images/HERE_logo.svg.png" height="50" alt="" loading="lazy" id="here" class="rounded-start" />
                <h2>Sistema di Georeferenzazione HERE</h2>
            </div>
            <div class="col-lg-12" id="GeoDati">
                <p><strong>Una volta cliccato la geocodifica aspettare la fine del processo e successivamente i dati saranno georeferenziati e disponibili nella pagina <a href="~/GeoDati/Index" class="">GeoDati</a></strong></p>
            </div>
        </div>

        <br />
        <br />
    </div>
</div>
<div class="jumbotron" id="Risultati" style="display:none">
    <div class="row">
        <div class="col-sm-3">
            <button type="submit" value="mappadati" class="btn btn-danger" id="mappadati" name="mappadati" hidden><i class="fa fa-globe"></i>Visuallizza dati in mappa</button>
        </div>
        <div class="col-sm-3">
            <button type="submit" value="Estai" class="btn btn-outline-info" style="background-color:cornflowerblue" id="Estrai" name="Estrai" hidden><i class="fa fa-download"></i>Estrai dati</button>
        </div>
    </div>
    <br />
    <br />
    <table id="tabellarisultati" class="display" style="width:100%;">
    </table>
</div>








<br />
<br />







<hr />



@section scripts{
    <script>

        let numeroRiga = 0;
        let righeDaGeoreferenziare =[];

        $('#save').click(function () {

            const Provincia = $('#Provincia').val();
            const Comune = $('#Comune').val();
            const Indirizzo = $('#Indirizzo').val();
            const NumCivico = $('#NumCivico').val();
            const DescrizioneGeo = $('#DescrizioneGeo').val();
            const Cap = $('#Cap').val();
            const AltroIndirizzo = $('#AltroIndirizzo').val();
            var oggetto = {
                Provincia: Provincia,
                Comune: Comune,
                Indirizzo: Indirizzo,
                NumCivico: NumCivico,
                Denominazione: DescrizioneGeo,
                Cap: Cap,
                AltroIndirizzo: AltroIndirizzo
            }



            if ((Provincia == "") && (Comune == "") && (Indirizzo == "")) {
                $('#Upload').prop("disabled", true);
                $('#Provincia','#Comune','#Indirizzo').prop('required', true);
           //     $('#Comune').prop("required", true);
           //     $('#Indirizzo').prop("required", true);

            }
            else {
                var json = JSON.stringify(oggetto);
                localStorage.setItem('JSON', json);

                $('#Upload').prop("disabled", false)
            };


        });

            function geocodificaRighe(sistema_geocodifica) {

                $(".overLay,.popup").fadeIn();

                // Bottone per fermare il processo
                $('#alert').click(function (e) {
                    if (confirm("Sei sicuro di voler fermare il processo?"))
                        numeroRiga = -1;
                });

                // Se è stato premuto il bottone per fermare ricarico la pagina
                if (numeroRiga === -1) {
                    window.location.reload(true);
                    return false;
                }

                StartProgressBar(numeroRiga);

                // Aggiornamento ProgressBar valore = numeroRiga, totale = righeDaGeoreferenziare.length
                const File = $("#DescrizioneFile").val();
                console.log(JSON.stringify(righeDaGeoreferenziare[numeroRiga]));

                if (localStorage)
                    localStorage.setItem('DescrizioneFile', File);

                if (numeroRiga < righeDaGeoreferenziare.length) {
                    $.ajax({
                        dataType: "json",
                        type: "POST",
                        url: "../Upload/Geocodifica",
                        data: {
                            'SistemaGeo': sistema_geocodifica,
                            'DatiJSON': JSON.stringify(righeDaGeoreferenziare[numeroRiga]),
                            'FileName': File,
                            'CorrispondenzeJSON': localStorage.JSON,
                            'TotRighe': righeDaGeoreferenziare.length
                        },
                        success: function (data) {
                            if (data && typeof data === 'object') {
                                ['Lon', 'Lat', 'Approx01', 'Approx02', 'Here_MatchLevel', 'Here_Relevance', 'Here_MatchType','Here_Error'].forEach(nomeCampo => {
                                    if (data.hasOwnProperty(nomeCampo))
                                        righeDaGeoreferenziare[numeroRiga][nomeCampo] = data[nomeCampo];
                                });
                            }
                            localStorage.removeItem('JSON');
                            localStorage.setItem('NumeroRighe', numeroRiga);
                            numeroRiga += 1;
                            console.log('Elaborato ' + numeroRiga + '/' + righeDaGeoreferenziare.length);
                            geocodificaRighe(sistema_geocodifica);

                 /*           var object = $.extend({}, righeDaGeoreferenziare, data);
                            console.log(object);
                            var check = JSON.parse(object);
                            console.log(check);
                            $.each(object[0], function (key, value) {
                                colonneTabella.push({ data: key, title: key });
                            });
                            console.log(colonneTabella);
                            */
                        }
                    });
                } else {
                    let colonneTabella = [];
                    $.each(righeDaGeoreferenziare[0], function (key, value) {
                        colonneTabella.push({ data: key, title: key });
                    });
                    setTimeout(function () { StartProgressBar() }, 10000);
                    //   $("#Fade_area").removeClass("overLay");
                    $("#Fade_area").removeAttr("style");
                    $("#myModal").removeAttr("style");
                    //    alert('Completato! Visualizza i dati in mappa o estrai il file georeferenziato');
                    $("#Risultati").show();
                    $("#Geo").hide();
                    $("#AttivaGeo").hide();
                    $("#info").show();
                    $("#mappadati").prop("disabled", false);
                    $("#Estrai").prop("disabled", false);
                    var dt = new Date();
                    var time = dt.getDate()  + (dt.getUTCMonth()+1) + dt.getFullYear() + "_" + dt.getHours() + ":" + dt.getMinutes()
                    
                    $('#tabellarisultati').DataTable({
                        language: {
                            url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Italian.json'
                        },
                        paging: true,
                        scrollX: true,
                        data: righeDaGeoreferenziare,
                        columns: colonneTabella,
                        dom: 'Bfrtip',
                        buttons: [{
                            extend: 'collection',
                            className: "btn-primary",
                            text: 'ESPORTA DATI',
                            buttons:
                                [{
                                    extend: "excel", className: "btn-primary", title: File +"_"+ time
                                }],
                        }]
                            
                    });

                    //  url = '@Url.Action("Index", "GeoDati/Index")',
                    // alert(url)
                    //      window.location.href = (url);

                };
            };


            $(document).ready(function () {
               
            $("#mappadati").click(function () {
                   url = '@Url.Action("Index", "GeoDati/Index")',
                    window.location.href = (url);
            });

            // visualizzazione ed estrazione della tabella risultati dopo la geocodifica







            $('#DescrizioneFile').prop("disabled", true);
            $("#TextUpload").change(function () {
                $('#Nuovo').prop("disabled", false);
                if ($('#parUpload').is(':visible')) {
                    $('#View').hide();
                }
                else {
                    $('#View').show();
                }

                $('#conferma').show();
                $('#DescrizioneFile').prop("disabled", false);
                var file = $("#TextUpload").val();
                var lunghezza = file.length;
                console.log(lunghezza);
                var filecorretto = file.substring(12, lunghezza - 4);
                console.log(file);
                $('#DescrizioneFile').val(filecorretto);
                $('#tableID').show();
                $('#TextUpload').prop("disabled", true);
            });

        });


        $('#Nuovo').click(function () {
            $('#DescrizioneFile').val("");
            $('#TextUpload').val("");
            $('#TextUpload').prop("disabled", false);
            $('#View').hide();
            $('#tableID').DataTable().destroy();
            $('#tableID').empty();
            $('#conferma').hide();
            $('#AttivaGeo').hide();
            $('#Geo').hide();
            $('#tabellarisultati').DataTable().destroy();
            $('#tabellarisultati').empty();
            $('#Risultati').hide();

            $('#info').hide();
            $('#DescrizioneFile').prop("disabled", true);

        });

        // Upload del file AJAX
        $("#View").click(function () {

            const fileField = document.getElementById('TextUpload');
            var filecorretto = $('#DescrizioneFile').val();
            console.log(filecorretto);
            const formData = new FormData();



            formData.append('descrizione', filecorretto);
            formData.append('filecsv', fileField.files[0]);


            fetch('../Upload/DatiJSON',
                { // Your POST endpoint
                    method: 'POST',
                    body: formData, // This is your file object
                    data: { 'descrizione': filecorretto }
                }).then(response => response.json())
                .then(dataSet => {
                    if (dataSet && Array.isArray(dataSet) && dataSet.length > 0) {
                        righeDaGeoreferenziare = dataSet;
                        righerisultati = dataSet;
                        let colonneTabella = [];
                        $.each(righeDaGeoreferenziare[0], function (key, value) {
                            colonneTabella.push({ data: key, title: key });
                            ['#Provincia', '#Comune', '#Indirizzo', '#NumCivico', '#Cap', '#DescrizioneGeo', '#AltroIndirizzo'].forEach(nomeTendina => {
                                $(nomeTendina).append($('<option>', {
                                    value: key,
                                    text: key
                                }));
                            });
                        });

                        console.log(colonneTabella);

                        $('#tableID').DataTable({
                            language: {
                                url: '//cdn.datatables.net/plug-ins/1.10.15/i18n/Italian.json'
                            },
                            paging: true,
                            scrollX:true,
                            data: righeDaGeoreferenziare,
                            columns: colonneTabella,
                        });
                        gettabella(righeDaGeoreferenziare, colonneTabella);


                        $("#AttivaGeo").show();
                        $("#View").hide();
                    }
                    else
                        alert("Formato dati non corretto!");
                })
                .catch(error => {
                    alert("Impossibile caricare il file csv");
                    //alert("Per avere una migliore georeferenzazione inserisci i campi della tabella altrimenti prosegui lo stesso alla geocodifica");
                    console.error('Error:', error);
                });

        });




        var table = $('#DatiCSV').dataTable();
        console.log(table);
        $('#divdelete').show();
        $('#delete').click(function () {
            table.destroy();
            $("#DescrizioneFile").value = "";
        });


            function gettabella(righerisultati,colonneTabella) {

            }

        // bottoni upload e visualiazzazione passaggio dati SistemaGeo
        $('#Upload').click(function () {
            if (this.id == 'Upload') {
                var val = $('#SistemaGeo').find(":selected").val();
                if (val == '1') {
                    $('#OpenStreetMap').show();
                }
                else if ((val == '2')) {
                    $('#Here').show();
                }

            }
            else if (this.id == 'View') {
                var val = "";

            }

            numeroRiga = 0;
            geocodificaRighe(val);
            return;
        });


        const checkbox = document.getElementById('CheckGeo')
        checkbox.addEventListener('change', (event) => {
            if (event.currentTarget.checked) {
                $('#Geo').show();

            } else {
                $('#Geo').hide();


            }
        });









        //progress bar function

        function StartProgressBar(numeroRiga) {


            let rigacorrente = 0;
            var currentDate = new Date();
            var second = currentDate.getSeconds();
            if (righeDaGeoreferenziare.length > 0) {

            }

            let z = (numeroRiga / righeDaGeoreferenziare.length) * 100;
            console.log(z);

                $(".progress-bar").css('width', z + '%');
                const fileField = document.getElementById('Geo');


                if (fileField != null) {

                    setTimeout(function () { StartProgressBar() }, z);


                }
                else {
                    setTimeout(function () { StartProgressBar() }, righeDaGeoreferenziare.length);
                }
            }


        //Close Progress Bar

        function CloseProgressBar() {



        }



        function CallApi() {

            righe++;
            $.ajax({
                url: "",
                type: 'post',
                contentType: "application/json",
                success: function () {

                  //  setTimeout(function () { CloseProgressBar() }, righeDaGeoreferenziare.length);
                    $("#Fade_area").removeAttr("style");
                    $("#myModal").removeAttr("style");

                },
                error: function () { },
            })
        }




    </script>
}
