<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -PortaleGeoWeb</title>



    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">


                @if (this.User.IsInRole("Administrators") || this.User.IsInRole("EnteLocale") || this.User.IsInRole("Fornitore"))
                {

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Upload">Visualizza File</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/Home/SelezionaSistema">Seleziona Sistema</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Home/Mappa">Visualizza Mappa</a>
                    </li>
                    <li class="nav-item">
                        <img src="/Images/609px-Map_of_region_of_Marche,_Italy,_with_provinces-it.svg.png" height="50" alt="" loading="lazy" id="Marche" class="rounded-circle" />
                    </li>
}
            </ul>
        </div>
        <div class="nav navbar-nav navbar-right">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="rounded-circle" href="/Account/Login" id="loginLink"> <img src="/Images/kisspng-computer-icons-login-management-user-5ae155f36cf686.7736884715247170434463.png" height="40" alt="" loading="lazy" /> </a>
                </li>
            </ul>
        </div>
    </nav>
    <style>

        .navbar-nav.navbar-right {
            transform: translate(-50%);
        }

        .navbar-brand {
            transform: translate(20%);
        }

        #navbarNavDropdown {
            transform: translate(5%);
        }
    </style>
    <br />
    <br />
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Applicazione ASP.NET</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    <!--Import jQuery before export.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <!--Data Table-->
    <script type="text/javascript" src=" https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src=" https://cdn.datatables.net/buttons/1.2.4/js/dataTables.buttons.min.js"></script>

    <!--Export table buttons-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.24/build/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.4/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.2.1/js/buttons.print.min.js"></script>

    <!--Export table button CSS-->

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.2.4/css/buttons.dataTables.min.css">
    @RenderSection("scripts", required: false)
</body>








</html>
